@import "../../../styles/colors.scss";

.container-inventory {
    height: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
};

.inventory-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    border-radius: 10px;
    margin: 3px;
    background-image: linear-gradient(135deg,$background 10%, $secondary-color 100%);
}

.inventory-image {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.image-div {
}

.inventory-form {
    width: 50px;
}