@import "../../../styles/colors.scss";

.card-div {
    position: relative;
    width: 30%;
    overflow: hidden;
    background-color: $primary-color;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.name-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,$background 10%, $secondary-color 100%);
    box-shadow: 0px 1px 5px black;
    padding: 3%;
    color: gainsboro;
    font-size: 20px;
    font-weight: bold;
}

.name-text {
}

.image {
    background-color: $secondary-color;
}
