@import "../../../styles/colors.scss";

.character-card {
    justify-content: center;
    align-items:center;
    text-align: center;
    padding: 1%;
    width: 120px;
    height: 170px
};

.text {
    color: $font-color;
    margin-top: 5px;
};
