@import "../../../styles/colors.scss";

.dropdown-toggle-button {
    color: black;
    background-color: $input-color-background !important;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.dropdown-toggle-button:hover {
    @extend .dropdown-toggle-button;
    opacity: 0.8;
}

.dropdown-toggle-button:focus {
    @extend .dropdown-toggle-button;
    box-shadow: 0px 0px 5px white;
};

.dropdown-menu {
    background-color: $background;
    box-shadow: 0px 0px 5px black;
    width: 200px;
};

.dropdown-menu-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

.dropdown-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
};

.dropdown-col-extremes {
    margin-left: 8px;
    margin-right: 8px;
    padding: 0px;
}

.dropdown-col-top {
    @extend .dropdown-col-extremes;
}

.dropdown-col-bottom {
    @extend .dropdown-col-extremes;
    margin-top: 4px;
}

.dropdown-col-left {
    margin-right: 2px;
    margin-left: 8px;
    margin-top: 4px;
    width: 50%;
    padding: 0px;
};

.dropdown-col-right {
    margin-right: 8px;
    margin-left: 2px;
    margin-top: 4px;
    width: 50%;
    padding: 0px;
};

.dropdown-item {
    background-color: $input-color-background;
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
};

.dropdown-item:hover {
    opacity: 0.8;
};
