@import 'colors.css';

.modal-body {
    background-color: var(--background);
};

.modal-body::-webkit-scrollbar {
    width: 5px;
    background-color: #111122;

}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #343443;
}

.scrollbar-body {
    background-color: brown;
}